sem4/xml/lab3/zad2.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT	pracownicy		(dzial-spozywczy, dzial-chemiczny)>
<!ELEMENT	dzial-spozywczy	(pracownik*)>
<!ELEMENT	dzial-chemiczny	(pracownik*)>
<!ELEMENT	pracownik		(nazwisko, imie, data-zatr)>
<!ATTLIST	pracownik
					plec	(m | k | bd)	"bd"
					pesel	NMTOKEN			#REQUIRED
					status	CDATA			#IMPLIED>


<!ELEMENT	nazwisko		(#PCDATA)>
<!ELEMENT	imie			(#PCDATA)>
<!ELEMENT	data-zatr		(#PCDATA)>
